body {
  margin: 0 !important;
  padding: 0 !important;
}

.banner {
  height: 500px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about,
.banner .signin {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.banner .signin {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 20px;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}
